
@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
.p1{
    background-color:rgb(45, 152, 148);
    font-family: "Times New Roman", Times, serif;
    
   }

.p2{
    
    font-family: 'Bungee Spice', sans-serif;
    font-size: 120px;
}



